/* src/components/Cart.css */
.cart {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    padding: 20px;
    background-color: #ECF8F6;
    border: 1px solid #D6955B;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  .cart h3 {
    font-size: 1.4em;
    color: #18534F;
    margin-bottom: 16px;
  }
  
  .cart ul {
    list-style: none;
    padding: 0;
  }
  
  .cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #D6955B;
  }
  
  .cart li:last-child {
    border-bottom: none;
  }
  
  .cart button {
    background-color: #D6955B;
    color: #ECF8F6;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart button:hover {
    background-color: #226D68;
  }
  @media (max-width: 768px) {
    .cart {
      margin-top: 100px;
      height: fit-content;
      max-width: 200px;
      top: auto;
      bottom: 10px; /* Moins d'espace si nécessaire */
      left: 10px; /* Moins d'espace si nécessaire */
      font-size: 14px; /* Réduire la taille de la police si nécessaire */
    }
    
  }
  a{
    background-color: #D6955B;
    color: #ECF8F6;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  a:hover{
    background-color: #226D68;
  }