/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ECF8F6;
  color: #18534F;
}

.App {
  display: flex;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #ECF8F6;
}
